<div class="col-md-12">
    <div class="header">
        <div class="game-meta">
            <h1 class="team away long"><span>{{ gamedata.awayteam|teamname }}</span></h1>
            <h1 class="team away med"><span>{{ gamedata.awayteam|teamshortname }}</span></h1>
            <img src="{{ url_for('static', filename='img/team/' + gamedata.awayteam + '.png') }}">
            <h1 class="score away"><span>{{ gamedata.awayscore|int }}</span></h1>
            <div class="date">
                <p><span>{{ gamedata|get_status }}</span></p>
                <p><span>{{ gamedata.date|format_date }}</span></p>
            </div>
            <h1 class="score home"><span>{{ gamedata.homescore|int }}</span></h1>
            <img src="{{ url_for('static', filename='img/team/' + gamedata.hometeam + '.png') }}">
            <h1 class="team home med"><span>{{ gamedata.hometeam|teamshortname }}</span></h1>
            <h1 class="team home long"><span>{{ gamedata.hometeam|teamname }}</span></h1>
        </div>
        <div class="header-bg">
        </div>
    </div>
</div>