{% extends "wrappers/wrapper.html" %}
{% from "macros.html" import create_dropdown %}

{% block title %}Game Summary{% endblock %}

{% block content_header %}
    <div id="gamesummaryheader"></div>
    {% if live == True %}
    <h4 class="text-center">*Live games will auto-update every minute</h4>
    {% endif %}
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-md-12">
            <ul id="main-content-tab-container" class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#event-tables">Event Tables</a></li>
                <li role="presentation"><a href="#event-charts">Event Charts</a></li>
                <li role="presentation"><a href="#player-usage">Player Usage</a></li>
                {# <li role="presentation"><a href="#win-probs">Win Probabilities</a></li> #}
            </ul>
            {% from "_formhelpers.html" import render_field %}
            <form class="table-opts" method="post" action="">
                <div class="row">
                    <div class="col-sm-4">
                    {{ render_field(form.teamstrengths) }}
                    </div>
                    <div class="col-sm-4">
                    {{ render_field(form.scoresituations) }}
                    </div>
                    <div class="col-sm-4">
                    {{ render_field(form.period) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        {{ render_field(form.tablecolumns) }}
                    </div>
                    <div class="col-sm-4">

                    </div>
                    <div class="col-sm-4">
                        <button type="submit" class="btn btn-primary center-block beside-fields">Submit</button>
                    </div>
                </div>
            </form>
            <div id="gameSummaryTables" class="tab-content">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block page_js %}
    <script>
        var currentHeaderWidth;
        var counter;

        $(document).ready(function() {
            updateLive();
            // Handle tabs
            $('.nav-tabs a').click(function(){
                $(this).tab('show');
            });

            // Update on resize - wait 500ms before redrawing the mesh
            currentHeaderWidth = $(".header-bg").width();
            doneResizing(); // Initialize layout
            $(window).resize(function() {
                clearTimeout(counter);
                counter = setTimeout(doneResizing, 500);
            });
        });

        function doneResizing() {
            // Check if header width has changed
            var newHeaderWidth = $(".header-bg").width();
            if (currentHeaderWidth !== newHeaderWidth) {
                currentHeaderWidth = newHeaderWidth;
                d3.select(".header-bg").select("svg").remove();
                drawMesh();
            }
        }

        function get_team_color(team, primary) {
            var coloroptions = [
                ["1","ANA","#91764B","#EF5225","Anaheim Ducks","Anaheim"],
                ["2","BOS","#FFC422","#000000","Boston Bruins","Boston"],
                ["3","BUF","#002E62","#FDBB2F","Buffalo Sabres","Buffalo"],
                ["4","CAR","#E03A3E","#8E8E90","Carolina Hurricanes","Carolina"],
                ["5","CBJ","#00285C","#A9B0B8","Columbus Blue Jackets","Columbus"],
                ["6","CGY","#E03A3E","#000000","Calgary Flames","Calgary"],
                ["7","CHI","#E3263A","#000000","Chicago Blackhawks","Chicago"],
                ["8","COL","#8B2942","#01548A","Colorado Avalanche","Colorado"],
                ["9","DAL","#006A4E","#000000","Dallas Stars","Dallas"],
                ["10","DET","#EC1F26","#EC1F26","Detroit Red Wings","Detroit"],
                ["11","EDM","#E66A20","#003777","Edmonton Oilers","Edmonton"],
                ["12","FLA","#D59C05","#C8213F","Florida Panthers","Florida"],
                ["13","L.A","#000000","#AFB7BA","Los Angeles Kings","Los Angeles"],
                ["14","MIN","#025736","#BF2B37","Minnesota Wild","Minnesota"],
                ["15","MTL","#BF2F38","#213770","Montreal Canadiens","Montreal"],
                ["16","N.J","#E03A3E","#000000","New Jersey Devils","New Jersey"],
                ["17","NSH","#FDBB2F","#002E62","Nashville Predators","Nashville"],
                ["18","NYI","#00529B","#F57D31","New York Islanders","NY Islanders"],
                ["19","NYR","#0161AB","#E6393F","New York Rangers","NY Rangers"],
                ["20","OTT","#E4173E","#000000","Ottawa Senators","Ottawa"],
                ["21","PHI","#F47940","#000000","Philadelphia Flyers","Philadelphia"],
                ["22","PHX","#8E0028","#EFE1C6","Phoenix Coyotes","Phoenix"],
                ["23","PIT","#D1BD80","#000000","Pittsburgh Penguins","Pittsburgh"],
                ["24","S.J","#F38F20","#05535D","San Jose Sharks","San Jose"],
                ["25","STL","#0546A0","#FFC325","St. Louis Blues","St. Louis"],
                ["26","T.B","#013E7D","#CCCCCC","Tampa Bay Lightning","Tampa Bay"],
                ["27","TOR","#003777","#003777","Toronto Maple Leafs","Toronto"],
                ["28","VAN","#07646F","#047A4A","Vancouver Canucks","Vancouver"],
                ["29","WPG","#0168AB","#002E62","Winnipeg Jets","Winnipeg"],
                ["30","WSH","#00214E","#CF132B","Washington Capitals","Washington"],
                ["31","ATL","#002E62","#0168AB","Atlanta Thrashers","Atlanta"],
                ["32","ARI","#8E0028","#EFE1C6","Arizona Coyotes","Arizona"]
            ]
            for (var i=0; i<coloroptions.length; i++) {
                var color = coloroptions[i];
                if (team == color[1]) {
                    if (primary == true) {
                        return color[2];
                    } else {
                        return color[3];
                    }
                }
            }
        }

        // Draw hexagon mesh for header
        function drawMesh() {
            var divH = $(".header").height();
            var divW = $(".header").width();

            var hexR = 12;
            var hexH = hexR * 2;
            var hexW = hexR * Math.sqrt(3);

            var hexagonPoly=[[0,-1],[Math.sqrt(3)/2,0.5],[0,1],[-Math.sqrt(3)/2,0.5],[-Math.sqrt(3)/2,-0.5],[0,-1],[Math.sqrt(3)/2,-0.5]];
            var hexagonPath = "m"+hexagonPoly.map(function(p){return [p[0]*hexR, p[1]*hexR].join(",")}).join("l")+"z";

            var strokeWidth = 1;
            var margin = {top: strokeWidth + 1, right: strokeWidth + 1, bottom: strokeWidth + 1, left: strokeWidth + 1};
            var width = divW - margin.left - margin.right;
            var height = divH - margin.top - margin.bottom;

            // Colour scale
            var awayColour = "#222";
            var homeColour = "#222";

            {% if gamedata.awayteam in ["DET", "FLA", "MTL", "OTT", "CAR", "N.J", "PHI", "WSH", "CHI", "COL", "ANA", "ARI", "PHX", "CGY"] %}
                awayColour = "#c5283d"; // red
            {% elif gamedata.awayteam in ["BUF", "T.B", "TOR", "CBJ", "NYI", "NYR", "STL", "WPG", "ATL", "EDM", "L.A", "VAN", "S.J"] %}
                awayColour = "#1e91d6"; // blue
            {% elif gamedata.awayteam in ["BOS", "PIT", "NSH"] %}
                awayColour = "#ffbc42"; // yellow
            {% elif gamedata.awayteam in ["DAL", "MIN"] %}
                awayColour = "#179054"; // green
            {% endif %}

            {% if gamedata.hometeam in ["DET", "FLA", "MTL", "OTT", "CAR", "N.J", "PHI", "WSH", "CHI", "COL", "ANA", "ARI", "PHX", "CGY"] %}
                homeColour = "#c5283d"; // red
            {% elif gamedata.hometeam in ["BUF", "T.B", "TOR", "CBJ", "NYI", "NYR", "STL", "WPG", "ATL", "EDM", "L.A", "VAN", "S.J"] %}
                homeColour = "#1e91d6"; // blue
            {% elif gamedata.hometeam in ["BOS", "PIT", "NSH"] %}
                homeColour = "#ffbc42"; // yellow
            {% elif gamedata.hometeam in ["DAL", "MIN"] %}
                homeColour = "#179054"; // green
            {% endif %}

            awayColour = get_team_color("{{ gamedata.awayteam }}", true);
            homeColour = get_team_color("{{ gamedata.hometeam }}", true);

            var colour = d3.scale.linear()
                    .domain([0 + hexR * 6, width - hexR * 6]) // Shrink domain so that there's more hexes of the "true" colours at each end of the mesh
                    .clamp(true)
                    .range([awayColour, homeColour])
                    .interpolate(d3.interpolateLab);

            var opacity = d3.scale.linear()
                    .domain([0, width / 2, width])
                    .range([0.2, 0.1, 0.2]);

            // Create array of hex center coordinates
            var numCols = Math.floor((width)/hexW);
            var numRows = Math.floor(height/(0.75*hexH));
            var points = [];
            for (var i = 0; i < numCols; i++) {
                for (var j = 0; j < numRows; j++) {
                    var thisY = hexH / 2 + (0.75 * hexH * j);

                    // Check if current row is odd - if it is, shift the row's hexagons to the left so they interlock with the row above
                    var thisX = hexW / 2 + (hexW * i);
                    if (j % 2) { thisX = thisX - hexW / 2; }

                    // If it's an odd row, then don't add the first hexagon that was shifted to the left, because it will be clipped
                    // Randomly skip some hexagons
                    if (j % 2 && i > 0 || !(j % 2)) {
                        if (Math.random() <= 0.4) {
                            points.push([thisX, thisY]);
                        }
                    }
                }
            }

            // Append svg and paths
            var svg = d3.select(".header-bg").append("svg")
                    .attr("width", width + margin.left + margin.right)
                    .attr("height", height + margin.top + margin.bottom)
                    .append("g")
                    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
            var paths = svg.selectAll("path")
                    .data(points)
                    .enter().append("path")
                    .attr("d", function(d) { return "M" + d[0] + "," + d[1] + hexagonPath; })
                    .style("stroke-width", strokeWidth)
                    .style("stroke", "white")
                    .style("fill", function(d) { return colour(d[0]); })
                    .style("fill-opacity", function(d) { return opacity(d[0]); });

            // Center mesh in svg
            var meshWidth = numCols * hexW - 0.25 * hexW;
            var meshHeight = numRows * (0.75 * hexH);
            svg.attr("transform", "translate(" + ((width - meshWidth)/2) + "," + ((height - meshHeight)/2) + ")");
        }

        function updateLive() {
            $.ajax({url: "header",
                success: function(result) {
                    $("#gamesummaryheader").html(result);
                    drawMesh();
                },
            });
            var teamstrengths = $("#teamstrengths").val();
            var scoresituation = $("#scoresituations").val();
            var period = $("#period").val();
            var tablecolumns = $("#tablecolumns").val();
            var url = "tables?teamstrengths=" + teamstrengths + "&scoresituation=" + scoresituation + "&period=" + period + "&tablecolumns=" + tablecolumns;
            // Get form values
            $.ajax({url: url,
                success: function(result) {
                    $("#gameSummaryTables").html(result);
                    $('table.dataTable').DataTable({
                        "paging": false,
                        "filter": false,
                        "sDom": '<"top">rt<"bottom"flp><"clear">',
                        "scrollX": true,
                        "fixedColumns": true,
                        //"scrollY": 300,
                    });
                },
            });
        }
        {% if live == True %}
        setInterval(updateLive, 60000);
        {% endif %}
    </script>
    <script src="{{ url_for('static', filename='js/rinkPlot.js') }}"></script>
{% endblock %}