<div id="event-tables" class="tab-pane fade in active">
    <h3>Teams</h3>
    <div class="row datatable">
        <div class="col-sm-12">
            <table class="table dataTable table-striped no-footer nowrap" role="grid" cellspacing="0" width="100%" style="width: 100%;">
                <thead>
                    <tr>
                        <th class="left-rounded">Team</th>
                        <th>GF</th>
                        <th>SF</th>
                        <th>MSF</th>
                        <th>BSF</th>
                        <th>CF</th>
                        <th>SCF</th>
                        <th>HSCF</th>
                        <th>ZSO</th>
                        <th>HIT</th>
                        <th>PN</th>
                        <th>FO_W</th>
                        <th>TOI</th>
                    </tr>
                </thead>
                <tbody>
                    {% for teamrun in teamrun %}
                    <tr>
                        <td><img alt="{{ teamrun["Team"] }} Logo" src="{{ url_for('static', filename='img/team/' + teamrun["Team"] + '.png') }}" height="20" width="20"/>{{ teamrun["Team"]|teamshortname }}</td>
                        <td>{{ teamrun["GF"] }}</td>
                        <td>{{ teamrun["SF"]|int }}</td>
                        <td>{{ teamrun["MSF"]|int }}</td>
                        <td>{{ teamrun["BSF"]|int }}</td>
                        <td>{{ teamrun["CF"]|int }}</td>
                        <td>{{ teamrun["SCF"] }}</td>
                        <td>{{ teamrun["sSCF"] }}</td>
                        <td>{{ teamrun["ZSO"] }}</td>
                        <td>{{ teamrun["HIT"] }}</td>
                        <td>{{ teamrun["PENL_TAKEN"] }}</td>
                        <td>{{ teamrun["FAC_WIN"] }}</td>
                        <td>{{ teamrun["TOI"]|calc_toi }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
    <h3>Goalies</h3>
    <div class="row datatable">
        <div class="col-sm-12">
            <table class="table dataTable hover stripe order-column no-footer nowrap" role="grid" cellspacing="0" width="100%" style="width: 100%;">
                <thead>
                    <tr>
                        <th class="left-rounded">Name</th>
                        <th>Team</th>
                        <th>GU</th>
                        <th>SU</th>
                        <th>G.L</th>
                        <th>S.L</th>
                        <th>G.M</th>
                        <th>S.M</th>
                        <th>G.H</th>
                        <th>S.H</th>
                        <th>TOI</th>
                    </tr>
                </thead>
                <tbody>
                    {% for goalie in goalies %}
                    <tr>
                        <td>{{ woiid[goalie["ID"]].full_name }}</td>
                        <td><img alt="{{ goalie["Team"] }} Logo" src="{{ url_for('static', filename='img/team/' + goalie["Team"] + '.png') }}" height="20" width="20"/>{{ goalie["Team"]|teamshortname }}</td>
                        <td>{{ goalie["gu"] }}</td>
                        <td>{{ goalie["su"] }}</td>
                        <td>{{ goalie["gl"] }}</td>
                        <td>{{ goalie["sl"] }}</td>
                        <td>{{ goalie["gm"] }}</td>
                        <td>{{ goalie["sm"] }}</td>
                        <td>{{ goalie["gh"] }}</td>
                        <td>{{ goalie["sh"] }}</td>
                        <td>{{ goalie["TOI"]|calc_toi }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
    {% with team=away, teamname=gamedata.awayteam %}
        {% include "game/playertable.html" %}
    {% endwith %}
    {% with team=home, teamname=gamedata.hometeam %}
        {% include "game/playertable.html" %}
    {% endwith %}
</div>
<div id="event-charts" class="tab-pane fade">
    <h3>Running Shot Attempts</h3>
    <p>Create data retrieval function to pass data out from Flask<br>
        Use Kevin's chart</p>
    <h3>Running Scoring Chance</h3>
    <p>Use same data retrieval function as above with different parameters, Kevin's chart</p>
    <h3>Shot Attempt Charts</h3>
    <div class="row">
        <div class="col-md-6" id="shHome"></div>
        <div class="col-md-6" id="shAway"></div>
    </div>
    <h3>Player Corsi Events</h3>
    <p>Create data retrieval function to pass data out from Flask<br>
        Use Alexandra's chart (potentially modified)</p>
</div>
<div id="player-usage" class="tab-pane fade">
    <h3>Matchup Charts</h3>
    <p>Create data retreival function from coplayer table. Use current WOI or Kevin's -- Group can decide.</p>
    <h3>Line Charts</h3>
    <p>Create data retrieval function from Manny's data.<br>
        Kevin's visualization.</p>
    <h3>Shift Charts</h3>
    <p>Create data retrieval function -- From what data?
        We could use actual shift data from NHL, if we wanted, instead of interpolated.<br>
    Kevin's viz.</p>
</div>
{#                <div id="win-probs" class="tab-pane fade">#}
{#                    <p>Win probabilities</p>#}
{#                </div>#}

{% block page_js %}
<script type="text/javascript">

createRink("#shHome", {{ pbphome|safe }});
createRink("#shAway", {{ pbpaway|safe }});

function createRink(dividelement, data) {

    var parent = d3.select(dividelement).append("svg");

    var homeRink = RINK_MAP({parent: parent, desiredWidth: 380, data: data, horizontal: false, fullRink: false,
        toolTipValue: RINK_HELPERS.toolTipText});
    homeRink();
}
</script>
{% endblock %}