{% extends "wrappers/wrapper.html" %}
{% from "macros.html" import create_dropdown %}

{% block content %}
    <div class="row">
        <div class="header">
            <div class="game-meta">
                <h1 class="team away">Lightning</h1
                        ><img src="{{ url_for('static', filename='img/team/T.B.png') }}"
                    ><h1 class="score away">4</h1
                    ><div class="date">
                <p>Final<br>
                    Sep 25, 2015</p>
            </div
                    ><h1 class="score home">2</h1
                    ><img src="{{ url_for('static', filename='img/team/BOS.png') }}"
                    ><h1 class="team home">Bruins</h1>
            </div>
            <div class="header-bg">
            </div>
        </div>
    </div>

    <div class="container">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#event-tables">Event Tables</a></li>
            <li role="presentation"><a href="#event-charts">Event Charts</a></li>
            <li role="presentation"><a href="#player-usage">Player Usage</a></li>
            <li role="presentation"><a href="#win-probs">Win Probabilities</a></li>
        </ul>
        <div class="tab-content">
            <div id="event-tables" class="tab-pane fade in active">
                <form class="table-opts">

                    <div class="row">
                        <div class="col-sm-3">
                            {{ create_dropdown('Team strengths', strength_situations) }}
                        </div>
                        <div class="col-sm-3">
                             {{ create_dropdown('Score situations', score_situations) }}
                        </div>
                        <div class="col-sm-3">
                             {{ create_dropdown('Period', periods) }}
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label" for="test-input">Columns to display</label>
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle btn-block" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        Prime
										<span class="pull-right">
											<span class="caret"></span>
										</span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li><a href="#">Action</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="exampleInputEmail1">An example text field</label>
                                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Team">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="checkbox beside-fields">
                                <label>
                                    <input type="checkbox"> Automatically refresh tables
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label invisible" for="test-input">Team strengths</label>
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle btn-block" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        Mixed inputs
										<span class="pull-right">
											<span class="caret"></span>
										</span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li><a href="#">Action</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <a class="btn btn-default beside-fields btn-block" href="#" role="button">Download tables</a>
                        </div>
                    </div>



                </form>
                <h3>Teams</h3>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table dataTable hover no-footer" id ="testThis" cellspacing="0" width="100%" role="grid" aria-describedby="example_info" style="width: 100%;">
                            <thead>
                            <tr role="row">
                                <th class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 200px;">Name</th>
                                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 320px;">Position</th>
                                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 148px;">Office</th>
                                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 115px;">Salary</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr role="row" class="odd">
                                <td class="sorting_1">Airi Satou</td>
                                <td>Accountant</td>
                                <td>Tokyo</td>
                                <td>$162,700</td>
                            </tr>
                            <tr role="row" class="even">
                                <td class="sorting_1">Angelica Ramos</td>
                                <td>Chief Executive Officer (CEO)</td>
                                <td>London</td>
                                <td>$1,200,000</td>
                            </tr>
                            <tr role="row" class="odd">
                                <td class="sorting_1">Ashton Cox</td>
                                <td>Junior Technical Author</td>
                                <td>San Francisco</td>
                                <td>$86,000</td>
                            </tr>
                            <tr role="row" class="even">
                                <td class="sorting_1">Bradley Greer</td>
                                <td>Software Engineer</td>
                                <td>London</td>
                                <td>$132,000</td>
                            </tr>
                            <tr role="row" class="odd">
                                <td class="sorting_1">Brenden Wagner</td>
                                <td>Software Engineer</td>
                                <td>San Francisco</td>
                                <td>$206,850</td>
                            </tr>
                            <tr role="row" class="even">
                                <td class="sorting_1">Brielle Williamson</td>
                                <td>Integration Specialist</td>
                                <td>New York</td>
                                <td>$372,000</td>
                            </tr>
                            <tr role="row" class="odd">
                                <td class="sorting_1">Bruno Nash</td>
                                <td>Software Engineer</td>
                                <td>London</td>
                                <td>$163,500</td>
                            </tr>
                            <tr role="row" class="even">
                                <td class="sorting_1">Caesar Vance</td>
                                <td>Pre-Sales Support</td>
                                <td>New York</td>
                                <td>$106,450</td>
                            </tr>
                            <tr role="row" class="odd">
                                <td class="sorting_1">Cara Stevens</td>
                                <td>Sales Assistant</td>
                                <td>New York</td>
                                <td>$145,600</td>
                            </tr>
                            <tr role="row" class="even">
                                <td class="sorting_1">Cedric Kelly</td>
                                <td>Senior Javascript Developer</td>
                                <td>Edinburgh</td><td>$433,060</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <h3>Goalies</h3>
                <h3>Skaters – Lightning</h3>
                <h3>Skaters – Bruins</h3>
            </div>
            <div id="event-charts" class="tab-pane fade">
                <h3>Event Charts</h3>
                <p>Event chart content</p>
            </div>
            <div id="player-usage" class="tab-pane fade">
                <h3>Matchup Charts</h3>
                <p>Matchup charts go here</p>
                <h3>Line Charts</h3>
                <p>Line charts go here</p>
            </div>
            <div id="win-probs" class="tab-pane fade">
                <p>Win probabilities</p>
            </div>
        </div>
    </div>


    <script>

        // Handle tabs
        $('.nav-tabs a').click(function(){
            $(this).tab('show');
        });

        // Initialize DataTable
        $(document).ready(function() {
            $('.dataTable').DataTable({
                "paging": false,
                "filter": false,
                "sDom": '<"top">rt<"bottom"flp><"clear">',
                "columnDefs": [
                    { className: "right", "targets": [ 3 ] }
                ]
            });
        });

        // Update value of dropdown
        $('.dropdown-menu li a').click(function(){
            $(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="pull-right"><span class="caret"></span></span>');
            $(this).parents(".dropdown").find('.btn').val($(this).data('value'));
        });

    </script>

    <script>
        var h = $(".header-bg").height();

        d3.select(".header-bg")
                .style("background-image", "linear-gradient(90deg, dodgerblue, #ddd, darkorange)")
                .style("opacity", 0.3);

        // Gradient colours: darkorange, dodgerblue, crimson, teal
        var svg = d3.select(".header-bg").append("svg")
                .style("width", "10000px")
                .style("height", h + "px");

        // Apply dithering texture
        var t1 = textures.paths()
                .d("hexagons")
                .size(2)
                .strokeWidth(1)
                .stroke("white");
        svg.call(t1);
        svg.append("rect")
                .attr("x", 0)
                .attr("y", 0)
                .attr("width", 10000)
                .attr("height", h)
                .style("fill", t1.url());

        // Apply larger hexagon texture
        var t2 = textures.paths()
                .d("hexagons")
                .size(20) //18, 20, 23 look good
                .strokeWidth(1.5)
                .stroke("white");
        svg.call(t2);
        svg.append("rect")
                .attr("x", 0)
                .attr("y", 0)
                .attr("width", 10000)
                .attr("height", h)
                .style("fill", t2.url());
    </script>
    </html>

{% endblock %}