{% extends "wrappers/wrapper.html" %}
{% from "_formhelpers.html" import render_field %}

{% block page_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='multi-select/css/multi-select.css') }}"/>
{% endblock %}

{% block title %}Team History{% endblock %}

{% block content_header %}

{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <form class="table-opts" method="post" action="">
            {{ csrf_token }}
            <div class="row">
                <div class="row">
                    <div class="col-md-3">
                        {{ render_field(form.teamstrengths) }}
                    </div>
                    <div class="col-md-3">
                        {{ render_field(form.scoresituations) }}
                    </div>
                    <div class="col-md-3">
                        {{ render_field(form.homeAway) }}
                    </div>
                    <div id="startingSeasonDiv" class="col-md-3">
                        {{ render_field(form.filterTeams) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        {{ render_field(form.tablecolumns) }}
                    </div>
                    <div class="col-md-3">
                        {{ render_field(form.startingDate) }}
                    </div>
                    <div class="col-md-3">
                        {{ render_field(form.endingDate) }}
                    </div>
                    <div id="endingSeasonDiv" class="col-md-3">
                        {{ render_field(form.regularplayoffs) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-md-offset-9">
                        <button type="submit" class="btn btn-primary center-block beside-fields">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#tabulargame" aria-controls="tabulargame" role="tab" data-toggle="tab">Tabular By Game</a></li>
            <li role="presentation"><a href="#graphicalgame" aria-controls="graphicalgame" role="tab" data-toggle="tab">Graphical By Game</a></li>
            <li role="presentation"><a href="#tabularseason" aria-controls="tabularseason" role="tab" data-toggle="tab">Tabular By Season</a></li>
            <li role="presentation"><a href="#graphicalseason" aria-controls="graphicalseason" role="tab" data-toggle="tab">Graphical By Season</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="tabulargame">
                {% set summaries=games %}
                {% set splitgame=True %}
                {% set tableid="comparisons-game" %}
                {% include "tables/teaminfo.html" %}
            </div>
            <div role="tabpanel" class="tab-pane" id="graphicalgame">
                <form id="cpg2">
                    <div class="row">
                        <div class="col-md-3">
                            {{ render_field(cpg.xaxis) }}
                        </div>
                        <div class="col-md-3">
                            {{ render_field(cpg.yaxis) }}
                        </div>
                        <div class="col-md-3">
                            {{ render_field(cpg.caxis) }}
                        </div>
                        <div class="col-md-3">
                            {{ render_field(cpg.saxis) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <button type="button" class="btn btn-primary center-block beside-fields" onclick="addGraph()">Generate Chart</button>
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-primary center-block beside-fields" id="savePNG">Create PNG from Current Chart</button>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-md-12">
                        <div id="game-graph">

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-center"><b>*Click a circle to toggle the text</b></p>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="tabularseason">
                {% set summaries=seasons %}
                {% set splitgame = False %}
                {% set tableid="comparisons-season" %}
                {% include "tables/teaminfo.html" %}
            </div>
            <div role="tabpanel" class="tab-pane" id="graphicalseason">
                <form id="cpg">
                    <div class="row">
                        <div class="col-md-3">
                            {{ render_field(cpg.xaxis) }}
                        </div>
                        <div class="col-md-3">
                            {{ render_field(cpg.yaxis) }}
                        </div>
                        <div class="col-md-3">
                            {{ render_field(cpg.caxis) }}
                        </div>
                        <div class="col-md-3">
                            {{ render_field(cpg.saxis) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <button type="button" class="btn btn-primary center-block beside-fields" onclick="addGraph()">Generate Chart</button>
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-primary center-block beside-fields" id="savePNG">Create PNG from Current Chart</button>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-md-12">
                        <div id="season-graph">

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-center"><b>*Click a circle to toggle the text</b></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div id="pngdataurl" style="display:none"></div>
<canvas width="960" height="500" style="display:none"></canvas>
{% endblock %}

{% block page_js %}
<script type="text/javascript">

var seasonTableContents = $("#comparisons-season").html();
var gameTableContents = $("#comparisons-game").html();

$(document).ready(function() {
    $("th:last").addClass("right-rounded");
    checkWidth();
});

var resizeTimer;
$(window).on('resize', function(e) {

  clearTimeout(resizeTimer);
  resizeTimer = setTimeout(function() {

    $("#comparisons-game").dataTable().fnDestroy();
    $("#comparisons-season").dataTable().fnDestroy();
    checkWidth();
            
  }, 250);

});

$('a[data-toggle="tab"]').on( 'shown.bs.tab', function (e) {
    $.fn.dataTable.tables( {visible: true, api: true} ).columns.adjust();
} );

function checkWidth() {
    if ($(window).width() <= 640) {
        $("#comparisons-game").html(gameTableContents);
        $('#comparisons-game').DataTable({
            "aaSorting": [[1, "desc"]],
            "autoWidth": false
        });
        $("#comparisons-season").html(seasonTableContents);
        $('#comparisons-season').DataTable({
            "paging": false,
            "autoWidth": false
        });
    } else {
        $('#comparisons-game').DataTable({
            "aaSorting": [[1, "desc"]],
            "scrollX": true,
            "fixedColumns": true,
            "autoWidth": false
        });
        $('#comparisons-season').DataTable({
            "paging": false,
            "scrollX": true,
            "fixedColumns": true,
            "autoWidth": false
        });
    }
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
}
</script>
<script type="text/javascript">
var margin = {top: 20, right: 10, bottom: 30, left: 40};
var width = $("#tabulargame").width() - margin.left - margin.right,
    height = width / 1.5 - margin.top - margin.bottom;

$("#graphical").height(height + margin.top + margin.bottom + 20);

var dataset = [
    {% for summary in seasons %}
    {
        {% for key in summary %}
        {% if key == "Team" %}
        "{{ key }}": "{{ summary[key]|teamshortname }}",
        "teaminitial": "{{ summary[key] }}",
        {% elif summary[key] is number %}
        "{{ key }}": {{ summary[key] }},
        {% else %}
        "{{ key }}": "{{ summary[key] }}",
        {% endif %}
        {% endfor %}
    },
    {% endfor %}
];

createGraph("season", "SA", "CF60", "OSv%", "Time",
    "On-Ice Shots-On-Goal Differential", "Corsi For, Per 60 Minutes", "On-Ice Save Percentage");

function createGraph(x, y, color, size, xtext, ytext, colortext, sizetext) {
    $("#season-graph").html("");
    var maxradius = 0,
        maxheight = 0,
        minheight = 100000000,
        minwidth = 100000000,
        maxwidth = 0,
        mincolor = 100000000,
        maxcolor = 0;

    for (var i=0; i<dataset.length; i++) {
        var row = dataset[i];
        row.x = row[x];
        row.y = row[y];
        row.color = row[color];
        row.size = row[size];
        if (row.size > maxradius) {
            maxradius = row.size;
        }
        if (row.y > maxheight) {
            maxheight = row.y;
        }
        if (row.y < minheight) {
            minheight = row.y;
        }
        if (row.x > maxwidth) {
            maxwidth = row.x;
        }
        if (row.x < minwidth) {
            minwidth = row.x;
        }
        if (row.color > maxcolor) {
            maxcolor = row.color;
        }
        if (row.color < mincolor) {
            mincolor = row.color;
        }
    }
    var x = d3.scale.linear()
        .range([0, width]);

    var y = d3.scale.linear()
        .range([height, 0]);

    if (maxcolor - mincolor >= 3) {
        var color = d3.scale.linear().domain([Math.floor(mincolor), Math.round((mincolor + maxcolor) / 2), Math.ceil(maxcolor)]).range(["#FF2400", "#FFFFFF", "#0042FF"])
    } else {
        var color = d3.scale.linear().domain([Math.floor(mincolor - (maxcolor - mincolor)), Math.round((mincolor + maxcolor) / 2), Math.ceil(maxcolor + (maxcolor - mincolor))]).range(["#FF2400", "#FFFFFF", "#0042FF"])
    }
    var maxallowed = 35,
        minallowed = 2;
    var rr = maxallowed / maxradius;

    var svg = d3.select("#season-graph")
        .insert("svg", "svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
    .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    svg.append("rect")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .attr("transform", "translate(-" + margin.left + ",-" + margin.top + ")")
        .attr("fill", "white");

    svg.selectAll("circle")
        .data(dataset)
        .enter()
        .append("circle")
        .attr("class", "circle")
        .attr("cx", function(d) {
            return cpos(d.x, minwidth, maxwidth, width, maxallowed, xtext);
        })
        .attr("cy", function(d) {
            return height - cpos(d.y, minheight, maxheight, height, maxallowed, ytext);
        })
        .attr("r", function(d) {
            return cpos(d.size * rr, minallowed, maxallowed, maxallowed, 0, sizetext);
        })
        .attr("id", function(d) { return d["Team"].replace(" ", "") + d["season"]; })
        .attr("onclick", function(d) {
            return "toggleText(\"" + d["Team"].replace(" ", "") + d["season"] + "\");";
        })
        .style("fill", function(d) {
            return color(d.color);
        })
        .style("stroke", "black")

    var texts = svg.selectAll("text")
        .data(dataset)
        .enter();

    texts.append("text")
        .html(function(d) {
            return d["Team"];
        })
        .attr("x", function(d) {
            return cpos(d.x, minwidth, maxwidth, width, maxallowed, xtext);
        })
        .attr("y", function(d) {
            return height - cpos(d.y, minheight, maxheight, height, maxallowed, ytext) - 7;
        })
        .attr("id", function(d) { return d["Team"].replace(" ", "") + d["season"] + "team"; })
        .attr("font-family", "sans-serif")
        .attr("font-size", "12px")
        .style("text-anchor", "middle");

    texts.append("text")
        .html(function(d) {
            return d["season"];
        })
        .attr("x", function(d) {
            return cpos(d.x, minwidth, maxwidth, width, maxallowed, xtext);
        })
        .attr("y", function(d) {
            return height - cpos(d.y, minheight, maxheight, height, maxallowed, ytext) + 7;
        })
        .attr("id", function(d) { return d["Team"].replace(" ", "") + d["season"] + "season"; })
        .attr("font-family", "sans-serif")
        .attr("font-size", "12px")
        .style("text-anchor", "middle");


    if (xtext != "Time") {
        var xAxis = d3.svg.axis()
            .scale(x)
            .orient("bottom")
            .ticks(10)
            .tickFormat(function(d) {
                return formatAxisText(d, xtext);
            });
    } else {
        var xAxis = d3.svg.axis()
            .scale(x)
            .orient("bottom")
            .ticks(0);
    }

    if (ytext != "Time") {
        var yAxis = d3.svg.axis()
            .scale(y)
            .orient("left")
            .ticks(10)
            .tickFormat(function(d) { return formatAxisText(d, ytext); });
    } else {
        var yAxis = d3.svg.axis()
            .scale(y)
            .orient("left")
            .ticks(0);
    }

    x.domain([d3.min(dataset, function(d) { return d.x; }), d3.max(dataset, function(d) { return d.x; })]);
    y.domain([d3.min(dataset, function(d) { return d.y; }), d3.max(dataset, function(d) { return d.y; })]);

    svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis)
    .append("text")
      .attr("x", width - 50)
      .attr("dy", "-.71em")
      .style("text-anchor", "end")
      .text(xtext);

    svg.append("g")
      .attr("class", "y axis")
      .call(yAxis)
    .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text(ytext);

    var legendRectSize = 18;
    var legendSpacing = 4;

    var legend = svg.selectAll('.legend')
      .data(color.domain().reverse())
      .enter()
      .append('g')
      .attr('class', 'legend')
      .attr('transform', function(d, i) {
        var height = legendRectSize + legendSpacing;
        var offset =  height * color.domain().length / 2;
        var horz = -2 * legendRectSize;
        var vert = i * height + offset;
        return 'translate(' + horz + ',' + vert + ')';
      });

    legend.append('rect')
      .attr('x', legendRectSize + margin.left + margin.right + 15)
      .attr('y', legendRectSize + margin.top)
      .attr('width', legendRectSize)
      .attr('height', legendRectSize)
      .style('fill', color)
      .style('stroke', color)
      .style("stroke", "black");

    legend.append('text')
      .attr('x', legendRectSize + margin.left + margin.right + 60)
      .attr('y', legendRectSize + margin.top + legendRectSize / 1.5)
      .style("text-anchor", "end")
      .text(function(d) { return d; });

    var texts = colortext.split(",");

    for (var i=0; i<texts.length; i++) {
        var text = texts[i];
        if (i != texts.length - 1) {
            text = text + ",";
        }
        svg.append("g")
          .attr("class", "x axis")
        .append("text")
          .attr("dx", "4em")
          .attr("dy", (11 + i) + "em")
          .style("text-anchor", "left")
          .text(text)
    }

    svg.append("text")
        .attr("x", (width / 2))             
        .attr("y", 0 - (margin.top / 4))
        .attr("text-anchor", "middle")  
        .style("font-size", "16px") 
        .style("text-decoration", "underline")  
        .text(xtext + " vs " + ytext + ",");

    svg.append("text")
        .attr("x", (width / 2))
        .attr("y", 18 - (margin.top / 4))
        .attr("text-anchor", "middle")
        .style("font-size", "16px")
        .style("text-decoration", "underline")
        .text("Colored by " + colortext + ", Sized by " + sizetext);

    svg.append("text")
        .attr("x", margin.left)
        .attr("y", height - margin.bottom)
        .attr("text-anchor", "left")
        .style("font-size", "12px")
        .text("war-on-ice.com")
}

function formatAxisText(d, text) {
    if (text == "Time") {
        return startYear(d);
    }
    else if (text.indexOf("Fraction") >= 0 || text.indexOf("Percentage") >= 0) {
        return d + "%";
    } else {
        return d;
    }
}

function toggleText(circleid) {
    $("#" + circleid + "team").toggle();
    $("#" + circleid + "season").toggle();
}

function cpos(val, minval, maxval, distance, maxallowed, xtext) {
    if (xtext != "Time") {
        return (val - minval) / (maxval - minval) * (distance - maxallowed * 2) + maxallowed;
    } else {
        return (years(distance) * (startYear(val) - 2002));
    }
}

function years(distance) {
    var year = new Date().getFullYear();
    year = year * 10000 + year + 1;
    var diff = (distance - 15) / (startYear(year) - startYear(2002));
    return diff
}


function startYear(year) {
    var string = year.toString().substring(0,4);
    return Number(string);
}

function addGraph() {
    var x = $("#xaxis").val(),
        y = $("#yaxis").val(),
        color = $("#caxis").val(),
        size = $("#saxis").val(),
        xtext = $("#xaxis option[value='" + x + "']").text(),
        ytext = $("#yaxis option[value='" + y + "']").text(),
        colortext = $("#caxis option[value='" + color + "']").text(),
        sizetext = $("#saxis option[value='" + size + "']").text();
    xtext = xtext.replace(/ *\([^)]*\) */g, "");
    ytext = ytext.replace(/ *\([^)]*\) */g, "");
    colortext = colortext.replace(/ *\([^)]*\) */g, "");
    sizetext = sizetext.replace(/ *\([^)]*\) */g, "");
    createGraph(x, y, color, size, xtext, ytext, colortext, sizetext);

};

function wrap(text, width) {
  text.each(function() {
    var text = d3.select(this),
        words = text.text().split(/\s+/).reverse(),
        word,
        line = [],
        lineNumber = 0,
        lineHeight = 1.1, // ems
        y = text.attr("y"),
        dy = parseFloat(text.attr("dy")),
        tspan = text.text(null).style("text-anchor", "right").append("tspan").attr("x", "80").attr("y", y).attr("dy", dy + "em");
    while (word = words.pop()) {
      line.push(word);
      tspan.text(line.join(" "));
      if (tspan.node().getComputedTextLength() > width) {
        line.pop();
        tspan.text(line.join(" "));
        line = [word];
        tspan = text.append("tspan").style("text-anchor", "right").attr("x", "80").attr("y", y).attr("dy", "1em").text(word);
      }
    }
  });
}

d3.select("#savePNG").on("click", function(){
  var html = d3.select("svg")
        .attr("version", 1.1)
        .attr("xmlns", "http://www.w3.org/2000/svg")
        .node().parentNode.innerHTML;

  //console.log(html);
  var imgsrc = 'data:image/svg+xml;base64,'+ btoa(html);
  var img = '<img src="'+imgsrc+'">'; 


  var canvas = document.querySelector("canvas"),
      context = canvas.getContext("2d");
  canvas.width = width + margin.left + margin.right;
  canvas.height = height + margin.top + margin.bottom;

  var image = new Image;
  image.src = imgsrc;
  image.onload = function() {
      context.drawImage(image, 0, 0);

      var canvasdata = canvas.toDataURL("image/png");

      var pngimg = '<img src="'+canvasdata+'">'; 
      d3.select("#pngdataurl").html(pngimg);

      var a = document.createElement("a");
      a.download = "sample.png";
      a.href = canvasdata;
          document.body.appendChild(a);
      a.click();
  };

});
</script>

<script type="text/javascript">
var alldata = [
    {% for summary in games %}
    {
        {% for key in summary %}
        {% if key == "Team" %}
        "{{ key }}": "{{ summary[key]|teamshortname }}",
        "teaminitial": "{{ summary[key] }}",
        {% elif summary[key] is number %}
        "{{ key }}": {{ summary[key] }},
        {% else %}
        "{{ key }}": "{{ summary[key] }}",
        {% endif %}
        {% endfor %}
    },
    {% endfor %}
];

var data = [];
var teamname = "";
var offDates = [];
alldata.sort(compare);
for (var i=0; i<alldata.length; i++) {
    var g = 0;
    var total = 0;
    if (i != 0) {
        var pdate = new Date(alldata[i-1]["Date"]);
        var cdate = new Date(alldata[i]["Date"]);
        var timeDiff = Math.abs(cdate.getTime() - pdate.getTime());
        var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24));
        if (diffDays > 30) {
            offDates.push([pdate, cdate]);
        }
    }
    var curryear = alldata[i]["season"];
    if (teamname == "") {
        teamname = alldata[i]["teaminitial"];
    }
    var min = 12;
    var max = 12;
    while (i - min < 0) {
        min -= 1;
        max += 1;
    }
    while (i + max >= alldata.length) {
        max -= 1;
    }
    for (var j=i-12; j<i+12; j++) {
        if (j < 0 || j >= alldata.length) {
            
        }
        else if (curryear == alldata[j]["season"]) {
            g += alldata[j]["SF"];
            total += 1;
        }
    }
    if (total != 0) {
        data.push({"Date": alldata[i]["Date"], "SF": g/total});
    } else {
        data.push({"Date": alldata[i]["Date"], "SF": 0});
    }
}

var tooltip = d3.select("body")
    .append("div")
    .style("position", "absolute")
    .style("z-index", "10")
    .style("visibility", "hidden")
    .style("background", "#EEEEEE")
    .style("border-radius", 3)
    .text("a simple tooltip");

var MARGINS = {top: 20, right: 20, bottom: 30, left: 50},
    WIDTH = 960 - margin.left - margin.right,
    HEIGHT = 500 - margin.top - margin.bottom;

var minyear = new Date(d3.min(data, function(d) { return d["Date"]; })),
    maxyear = new Date(d3.max(data, function(d) { return d["Date"]; }));

var parseDate = d3.time.format("%Y-%m-%d").parse;
var x = d3.time.scale()
    .domain([minyear, maxyear])
    .rangeRound([0, width - margin.left - margin.right]);

var y = d3.scale.linear()
    .domain([d3.min(data, function(d) { return d["SF"]; }), d3.max(data, function(d) { return d["SF"]; })])
    .range([height - margin.top - margin.bottom, 0]);

var xAxis = d3.svg.axis()
    .scale(x)
    .ticks(new Date().getFullYear() - 2002)
    .tickFormat(function(d) { return d.getFullYear(); });

var yAxis = d3.svg.axis()
    .scale(y)
    .orient('left')
    .tickPadding(8);

var svg = d3.select('#game-graph').append('svg')
    .attr('class', 'chart')
    .attr('width', width)
    .attr('height', height)
  .append('g')
    .attr('transform', 'translate(' + margin.left + ', ' + margin.top + ')');

svg.append("rect")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .attr("transform", "translate(-" + margin.left + ",-" + margin.top + ")")
    .attr("fill", "white");

var line = d3.svg.line()
    .x(function(d) { return x(new Date(d["Date"])); })
    .y(function(d) { return y(d["SF"]); });

svg.append("path")
    .datum(data)
    .attr('stroke', get_team_color(teamname, true))
    .attr('stroke-width', 6)
    .attr('fill', "none")
    .attr("d", line);

svg.append("path")
    .datum(data)
    .attr('stroke', get_team_color(teamname, false))
    .attr('stroke-width', 2)
    .attr('fill', "none")
    .attr("d", line);


svg.selectAll("dot")                                    // provides a suitable grouping for the svg elements that will be added
        .data(data)                                         // associates the range of data to the group of elements
    .enter().append("circle")                               // adds a circle for each data point
        .attr("r", 4)                                       // with a radius of 3.5 pixels
        .attr("cx", function(d) { return x(new Date(d["Date"])); })      // at an appropriate x coordinate 
        .attr("cy", function(d) { return y(d["SF"]); })     // and an appropriate y coordinate
        .attr("opacity", "0")
    .on("mouseover", function(d){
        tooltip.text(d["Date"]);
        return tooltip.style("visibility", "visible");
        })
    .on("mousemove", function(){return tooltip.style("top", (event.pageY-10)+"px").style("left",(event.pageX+10)+"px");})
    .on("mouseout", function(){return tooltip.style("visibility", "hidden");});

svg.append("text")
    .attr("x", width - margin.right)
    .attr("y", height - margin.bottom - 50)
    .attr("text-anchor", "left")
    .style("font-size", "12px")
    .text("war-on-ice.com")


function compare(a,b) {
  if (a["Date"] < b["Date"])
    return -1;
  if (a["Date"] > b["Date"])
    return 1;
  return 0;
}

for (var i=0; i<offDates.length; i++) {
    svg.append("rect")
        .attr("width", x(offDates[i][1]) - x(offDates[i][0]))
        .attr("height", height + margin.top + margin.bottom)
        .attr("transform", "translate(" + x(offDates[i][0]) + ",-" + margin.top + ")")
        .attr("fill", "#EEEEEE");
}

svg.append('g')
    .attr('class', 'x axis')
    .attr('transform', 'translate(0, ' + (height - margin.top - margin.bottom) + ')')
    .call(xAxis);

svg.append('g')
  .attr('class', 'y axis')
  .call(yAxis);

function get_team_color(team, primary) {
    var coloroptions = [
        ["1","ANA","#91764B","#EF5225","Anaheim Ducks","Anaheim"],
        ["2","BOS","#FFC422","#000000","Boston Bruins","Boston"],
        ["3","BUF","#002E62","#FDBB2F","Buffalo Sabres","Buffalo"],
        ["4","CAR","#E03A3E","#8E8E90","Carolina Hurricanes","Carolina"],
        ["5","CBJ","#00285C","#A9B0B8","Columbus Blue Jackets","Columbus"],
        ["6","CGY","#E03A3E","#000000","Calgary Flames","Calgary"],
        ["7","CHI","#E3263A","#000000","Chicago Blackhawks","Chicago"],
        ["8","COL","#8B2942","#01548A","Colorado Avalanche","Colorado"],
        ["9","DAL","#006A4E","#000000","Dallas Stars","Dallas"],
        ["10","DET","#EC1F26","#EC1F26","Detroit Red Wings","Detroit"],
        ["11","EDM","#E66A20","#003777","Edmonton Oilers","Edmonton"],
        ["12","FLA","#D59C05","#C8213F","Florida Panthers","Florida"],
        ["13","L.A","#000000","#AFB7BA","Los Angeles Kings","Los Angeles"],
        ["14","MIN","#025736","#BF2B37","Minnesota Wild","Minnesota"],
        ["15","MTL","#BF2F38","#213770","Montreal Canadiens","Montreal"],
        ["16","N.J","#E03A3E","#000000","New Jersey Devils","New Jersey"],
        ["17","NSH","#FDBB2F","#002E62","Nashville Predators","Nashville"],
        ["18","NYI","#00529B","#F57D31","New York Islanders","NY Islanders"],
        ["19","NYR","#0161AB","#E6393F","New York Rangers","NY Rangers"],
        ["20","OTT","#E4173E","#000000","Ottawa Senators","Ottawa"],
        ["21","PHI","#F47940","#000000","Philadelphia Flyers","Philadelphia"],
        ["22","PHX","#8E0028","#EFE1C6","Phoenix Coyotes","Phoenix"],
        ["23","PIT","#D1BD80","#000000","Pittsburgh Penguins","Pittsburgh"],
        ["24","S.J","#F38F20","#05535D","San Jose Sharks","San Jose"],
        ["25","STL","#0546A0","#FFC325","St. Louis Blues","St. Louis"],
        ["26","T.B","#013E7D","#CCCCCC","Tampa Bay Lightning","Tampa Bay"],
        ["27","TOR","#003777","#003777","Toronto Maple Leafs","Toronto"],
        ["28","VAN","#07646F","#047A4A","Vancouver Canucks","Vancouver"],
        ["29","WPG","#0168AB","#002E62","Winnipeg Jets","Winnipeg"],
        ["30","WSH","#00214E","#CF132B","Washington Capitals","Washington"],
        ["31","ATL","#002E62","#0168AB","Atlanta Thrashers","Atlanta"],
        ["32","ARI","#8E0028","#EFE1C6","Arizona Coyotes","Arizona"]
    ]
    for (var i=0; i<coloroptions.length; i++) {
        var color = coloroptions[i];
        if (team == color[1]) {
            if (primary == true) {
                return color[2];
            } else {
                return color[3];
            }
        }
    }
}

</script>
<script type="text/javascript">

var datadistr = {{ datadistr|safe }}

// line chart based on http://bl.ocks.org/mbostock/3883245
var margin = {
        top: 20,
        right: 20,
        bottom: 30,
        left: 50
    },
    width = 960 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;

var x = d3.scale.linear()
    .range([0, width]);

var y = d3.scale.linear()
    .range([height, 0]);

var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom");

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left");

var line = d3.svg.line()
    .x(function(d) {
        console.log(d.x, d.y)
        return x(d.x);
    })
    .y(function(d) {
        return y(d.y);
    });

var svg = d3.select("#game-graph").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

x.domain(d3.extent(datadistr, function(d) {
    return d.x;
}));
y.domain(d3.extent(datadistr, function(d) {
    return d.y;
}));

svg.append("g")
    .attr("class", "x axis")
    .attr("transform", "translate(0," + height + ")")
    .call(xAxis);

svg.append("g")
    .attr("class", "y axis")
    .call(yAxis);

/*svg.append("path")
    .datum(datadistr)
    .attr("class", "line")
    .attr('stroke', get_team_color(teamname, true))
    .attr('stroke-width', 6)
    .attr('fill', "none")
    .attr("d", line);*/

var bar = svg.selectAll(".bar")
    .data(datadistr)
  .enter().append("g")
    .attr("class", "bar")
    .attr("transform", function(d) { return "translate(" + x(d.x) + "," + y(d.y) + ")"; });

bar.append("rect")
    .attr("x", 1)
    .attr("width", x(datadistr[0].x + 1) - x(datadistr[0].x))
    .attr("fill", get_team_color(teamname, false))
    .attr("stroke", get_team_color(teamname, true))
    .attr("height", function(d) { return height - y(d.y); });

/*svg.append("path")
    .datum(datadistr)
    .attr("class", "line")
    .attr('stroke', get_team_color(teamname, false))
    .attr('stroke-width', 2)
    .attr('fill', "none")
    .attr("d", line);*/

</script>
{% endblock %}
