{% extends "wrappers/wrapper.html" %}
{% from "_formhelpers.html" import render_field %}

{% block page_css %}

{% endblock %}

{% block title %}Team Comparisons{% endblock %}

{% block content_header %}
<div class="row">
    <div class="col-md-12">
        <h3 class="text-center">Team Comparisons</h3>
    </div>
</div>
{% endblock %}

{% block content %}
<form class="table-opts" method="post" action="">
    {{ csrf_token }}
    <div class="row">
        <div class="row">
            <div class="col-md-3">
                {{ render_field(form.teamstrengths) }}
            </div>
            <div class="col-md-3">
                {{ render_field(form.scoresituations) }}
            </div>
            <div class="col-md-3">
                {{ render_field(form.homeAway) }}
            </div>
            <div class="col-md-3">
                {{ render_field(form.startingSeason) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                {{ render_field(form.tablecolumns) }}
            </div>
            <div class="col-md-3">
                {{ render_field(form.period) }}
            </div>
            <div class="col-md-3">

            </div>
            <div class="col-md-3">
                {{ render_field(form.endingSeason) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
                {{ render_field(form.splitgame) }}
            </div>
            <div class="col-md-3">

            </div>
            <div class="col-md-3">
                {{ render_field(form.divideSeason) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-md-offset-9">
                <button type="submit" class="btn btn-primary center-block beside-fields">Submit</button>
            </div>
        </div>
    </div>
</form>
<div class="row">
    <div class="col-md-12">
        <table id="comparisons" class="table table-striped table-condensed">
            <thead>
                <tr>
                    <th>Team</th>
                    {% if form.splitgame.data == True %}
                    <th>Date</th>
                    {% else %}
                    <th>Gm</th>
                    {% endif %}
                    <th>Season</th>
                    {% if form.tablecolumns.data|int == 0 or form.tablecolumns.data|int == 9 %}
                    {% set headers = ["GF", "GA", "G+/-", "CF%", "CP60", "OFOn%", "OSh%", "OSv%", "FO%", "PDO", "ZSO%"] %}
                    {% for header in headers %}
                    <th>{{ header }}</th>
                    {% endfor %}
                    {% endif %}

                    {% if form.tablecolumns.data|int == 9 or form.tablecolumns.data|int == 1 %}
                    {% set headers = ["HSCF%", "HSC+/-", "HSCF", "HSCA", "HSCF60", "HSCA60", "HSCP60"] %}
                    {% for header in headers %}
                    <th>{{ header }}</th>
                    {% endfor %}
                    {% endif %}

                    {% if form.tablecolumns.data|int == 9 or form.tablecolumns.data|int == 2 %}
                    {% set headers = ["SCF%", "SC+/-", "SCF", "SCA", "SCF60", "SCA60", "SCP60"] %}
                    {% for header in headers %}
                    <th>{{ header }}</th>
                    {% endfor %}
                    {% endif %}

                    {% if form.tablecolumns.data|int == 9 or form.tablecolumns.data|int == 3 %}
                    {% set headers = ["CF%", "C+/-", "CF", "CA", "CF60", "CA60", "CP60", "FF%", "F+/-", "FF", "FA", "FF60", "FA60", "FP60", "MSF", "MSA", "BSF", "BSA"] %}
                    {% for header in headers %}
                    <th>{{ header }}</th>
                    {% endfor %}
                    {% endif %}

                    {% if form.tablecolumns.data|int == 9 or form.tablecolumns.data|int == 5 %}
                    {% set headers = ["SF%", "S+/-", "SF60", "SA60", "SF", "SA", "GF60", "GA60", "GF%", "OSh%", "OFenSh%", "OSv%", "OCOn%", "OFOn%"] %}
                    {% for header in headers %}
                    <th>{{ header }}</th>
                    {% endfor %}
                    {% endif %}

                    {% if form.tablecolumns.data|int == 9 or form.tablecolumns.data|int == 7 %}
                    {% set headers = ["FO%", "FO_W", "FO_L", "ZSO", "ZSN", "ZSD", "HIT", "HIT-", "PN", "PN-", "PenD", "TOI"] %}
                    {% for header in headers %}
                    <th>{{ header }}</th>
                    {% endfor %}
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for summary in summaries %}
                <tr>
                    <td><img alt="{{ summary["Team"] }} Logo" src="{{ url_for('static', filename='img/team/' + summary["Team"] + '.png') }}" height="20" width="20"/>{{ summary["Team"]|teamshortname }}</td>
                    {% if form.splitgame.data == True %}
                    <td>{{ summary["Date"] }}</td>
                    {% else %}
                    <td>{{ summary["Gm"] }}</td>
                    {% endif %}
                    <td>{{ summary["season"] }}</td>
                    {% if form.tablecolumns.data|int == 0 or form.tablecolumns.data|int == 9 %}
                    <td>{{ summary["GF"]|int }}</td>
                    <td>{{ summary["GA"]|int }}</td>
                    <td>{{ (summary["GF"] - summary["GA"])|int }}</td>
                    <td>{{ summary["CF%"] }}</td>
                    <td>{{ summary["CP60"] }}</td>
                    <td>{{ summary["OFOn%"] }}</td>
                    <td>{{ summary["OSh%"] }}</td>
                    <td>{{ summary["OSv%"] }}</td>
                    <td>{{ summary["FO%"] }}</td>
                    <td>{{ summary["OSv%"] + summary["OSh%"] }}</td>
                    {% if summary["ZSO"] + summary["ZSD"] != 0 %}
                    <td>{{ (summary["ZSO"] / (summary["ZSO"] + summary["ZSD"]) * 100)|round(2) }}</td>
                    {% else %}
                    <td>0</td>
                    {% endif %}
                    {% endif %}

                    {% if form.tablecolumns.data|int == 9 or form.tablecolumns.data|int == 1 %}
                    {% if summary["HSCA"] + summary["HSCF"] != 0 %}
                    <td>{{ (summary["HSCF"] / (summary["HSCA"] + summary["HSCF"]) * 100)|round(2) }}</td>
                    {% else %}
                    <td>0</td>
                    {% endif %}
                    <td>{{ (summary["HSCF"] - summary["HSCA"])|int }}</td>
                    <td>{{ summary["HSCF"]|int }}</td>
                    <td>{{ summary["HSCA"]|int }}</td>
                    <td>{{ summary["HSCF60"] }}</td>
                    <td>{{ summary["HSCA60"] }}</td>
                    <td>{{ summary["HSCF60"] + summary["HSCA60"] }}</td>
                    {% endif %}

                    {% if form.tablecolumns.data|int == 9 or form.tablecolumns.data|int == 2 %}
                    {% if summary["SCA"] + summary["SCF"] != 0 %}
                    <td>{{ (summary["SCF"] / (summary["SCA"] + summary["SCF"]) * 100)|round(2) }}</td>
                    {% else %}
                    <td>0</td>
                    {% endif %}
                    <td>{{ (summary["SCF"] - summary["SCA"])|int }}</td>
                    <td>{{ summary["SCF"]|int }}</td>
                    <td>{{ summary["SCA"]|int }}</td>
                    <td>{{ summary["SCF60"] }}</td>
                    <td>{{ summary["SCA60"] }}</td>
                    <td>{{ summary["SCF60"] + summary["SCA60"] }}</td>
                    {% endif %}

                    {% if form.tablecolumns.data|int == 9 or form.tablecolumns.data|int == 3 %}
                    {% if summary["CA"] + summary["CF"] != 0 %}
                    <td>{{ (summary["CF"] / (summary["CA"] + summary["CF"]) * 100)|round(2) }}</td>
                    {% else %}
                    <td>0</td>
                    {% endif %}
                    <td>{{ (summary["CF"] - summary["CA"])|int }}</td>
                    <td>{{ summary["CF"]|int }}</td>
                    <td>{{ summary["CA"]|int }}</td>
                    <td>{{ summary["CF60"] }}</td>
                    <td>{{ summary["CA60"] }}</td>
                    <td>{{ summary["CF60"] + summary["CA60"] }}</td>
                    {% if summary["FA"] + summary["FF"] != 0 %}
                    <td>{{ (summary["FF"] / (summary["FA"] + summary["FF"]) * 100)|round(2) }}</td>
                    {% else %}
                    <td>0</td>
                    {% endif %}
                    <td>{{ (summary["FF"] - summary["FA"])|int }}</td>
                    <td>{{ summary["FF"]|int }}</td>
                    <td>{{ summary["FA"]|int }}</td>
                    <td>{{ summary["FF60"] }}</td>
                    <td>{{ summary["FA60"] }}</td>
                    <td>{{ summary["FF60"] + summary["FA60"] }}</td>
                    <td>{{ summary["MSF"]|int }}</td>
                    <td>{{ summary["MSA"]|int }}</td>
                    <td>{{ summary["BSF"]|int }}</td>
                    <td>{{ summary["BSA"]|int }}</td>
                    {% endif %}

                    {% if form.tablecolumns.data|int == 9 or form.tablecolumns.data|int == 5 %}
                    {% if summary["SA"] + summary["SF"] != 0 %}
                    <td>{{ (summary["SF"] / (summary["SA"] + summary["SF"]) * 100)|round(2) }}</td>
                    {% else %}
                    <td>0</td>
                    {% endif %}
                    <td>{{ (summary["SF"] - summary["SA"])|int }}</td>
                    <td>{{ summary["SF60"]|round(2) }}</td>
                    <td>{{ summary["SA60"]|round(2) }}</td>
                    <td>{{ summary["SF"]|int }}</td>
                    <td>{{ summary["SA"]|int }}</td>
                    <td>{{ summary["GF60"]|round(2) }}</td>
                    <td>{{ summary["GA60"]|round(2) }}</td>
                    {% if summary["GA"] + summary["GF"] != 0 %}
                    <td>{{ (summary["GF"] / (summary["GA"] + summary["GF"]) * 100)|round(2) }}</td>
                    {% else %}
                    <td>0</td>
                    {% endif %}
                    {% if summary["SF"] != 0 %}
                    <td>{{ (summary["GF"] / summary["SF"] * 100)|round(2) }}</td>
                    {% else %}
                    <td>0</td>
                    {% endif %}
                    {% if summary["FF"] != 0 %}
                    <td>{{ (summary["GF"] / summary["FF"] * 100)|round(2) }}</td>
                    {% else %}
                    <td>0</td>
                    {% endif %}
                    {% if summary["SA"] != 0 %}
                    <td>{{ 100 - (summary["GA"] / summary["SA"] * 100)|round(2) }}</td>
                    {% else %}
                    <td>0</td>
                    {% endif %}
                    {% if summary["CF"] != 0 %}
                    <td>{{ (summary["SF"] / summary["CF"] * 100)|round(2) }}</td>
                    {% else %}
                    <td>0</td>
                    {% endif %}
                    {% if summary["FF"] != 0 %}
                    <td>{{ (summary["SF"] / summary["FF"] * 100)|round(2) }}</td>
                    {% else %}
                    <td>0</td>
                    {% endif %}
                    {% endif %}

                    {% if form.tablecolumns.data|int == 9 or form.tablecolumns.data|int == 7 %}
                    {% if summary["FAC_LOSE"] + summary["FAC_WIN"] != 0 %}
                    <td>{{ (summary["FAC_WIN"] / (summary["FAC_LOSE"] + summary["FAC_WIN"]) * 100)|round(2) }}</td>
                    {% else %}
                    <td>0</td>
                    {% endif %}
                    <td>{{ summary["FAC_WIN"]|int }}</td>
                    <td>{{ summary["FAC_LOSE"]|int }}</td>
                    <td>{{ summary["ZSO"]|int }}</td>
                    <td>{{ summary["ZSN"]|int }}</td>
                    <td>{{ summary["ZSD"]|int }}</td>
                    <td>{{ summary["HIT"]|int }}</td>
                    <td>{{ summary["HIT_TAKEN"]|int }}</td>
                    <td>{{ summary["PENL_TAKEN"]|int }}</td>
                    <td>{{ summary["PENL_DRAWN"]|int }}</td>
                    <td>{{ summary["PENL_DRAWN"]|int - summary["PENL_TAKEN"]|int }}</td>
                    <td>{{ summary["TOI"] }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block page_js %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#comparisons').DataTable({
            {% if form.splitgame.data == True %}
            "aaSorting": [[1, "desc"]],
            {% else %}
            "paging": false,
            {% endif %}
            "filter": false,
            "sDom": '<"top">rt<"bottom"flp><"clear">',
            "scrollX": true,
            "fixedColumns": true,
        });
    });
</script>
{% endblock %}