{% extends "wrappers/wrapper.html" %}
{% block content %}
    <h2>{{ player.FullName }}</h2>
    Position: {{ player.Position }} | Date of Birth: {{ player.Birthday }} <br>
    Shoots: {{ player.Shoots }} | Height: {{ player.Height }} | Weight: {{ player.Weight }} <br>
    <a href ="http://war-on-ice.com/playerseason.html?woiid={{ player.PlayerId }}">Ask Me About My Statistical Performance</a>
    <h3>Contract History</h3>

    {% for contractHeader in contractDetails|groupby("ContractID")|reverse %}

        {% for contractDetails in contractHeader.list %}

            {% if loop.first %}
                {% if contractDetails.Unconfirmed == 1 %}
                <h5 class="unconfirmed">
                    {% else %}
                    <h5>
                    {% endif %}
                    Length: {{ contractDetails.ContractLength }} year(s) | Type: {{ contractDetails.HeaderType }} |
                    Expiry Status: {{ contractDetails.ExpiryStatus }} | Signing Date: {{ contractDetails.SigningDate }} |
                    Contract Team: {{ contractDetails.ContractTeamID }} | Source: {{ contractDetails.Source }} </h5>
                <table class="table table-condensed table-responsive">
                <tr class="contract-header">
                    <th></th>
                    <th>Season Ending</th>
                    <th>AAV</th>
                    <th>Base Salary</th>
                    <th>Signing Bonuses</th>
                    <th>AHL Salary</th>

                    {% if contractDetails.PerfBonusElg == 1 %}
                        <th>Earned Performance Bonuses</th>
                        <th>Max Performance Bonuses</th>
                    {% endif %}

                </tr>
            {% endif %}
        {% if contractDetails.ActiveContract == 1 %}
            <tr class="active-contract">
             {% elif contractDetails.Slid == 1 %}
                <tr class="slid">
                    {% elif contractDetails.BoughtOut == 1 %}
                <tr class="boughtout">
                    {% elif contractDetails.Retired == 1 %}
                            <tr class="retired">
        {% else %}
            <tr>
        {% endif %}
        <td>
            {% if contractDetails.NDC == 1 %}
                <img src="{{ url_for('static', filename='img/cap/nodemote.png')}}">
            {% endif %}
            {% if contractDetails.NTC == 0 %}
                <img src="{{ url_for('static', filename='img/cap/fullno.png')}}">
            {% elif contractDetails.NTC > -2 %}
                <img src="{{ url_for('static', filename='img/cap/ltdno.png')}}">
            {% endif %}
            {% if contractDetails.BoughtOut == 1 %}
                <img src="{{ url_for('static', filename='img/cap/buyout.png')}}">
            {% endif %}
            {% if contractDetails.Slid == 1 %}
                <img src="{{ url_for('static', filename='img/cap/slide.png')}}">
            {% endif %}
            {% if contractDetails.Retired == 1 %}
                <img src="{{ url_for('static', filename='img/cap/retired.png')}}">
            {% endif %}
        </td>
        <td>{{ contractDetails.Season }}</td>
        <td>{{ contractDetails.AAV|format_currency}}</td>
        <td>{{ contractDetails.BaseSalary|format_currency}}</td>
        <td>{{ contractDetails.SigningBonus|format_currency }}</td>
            {% if contractDetails.MinorSalary != 0 %}
        <td>{{ contractDetails.MinorSalary|format_currency }}</td>
            {% else %}
                <td>{{ contractDetails.BaseSalary|format_currency}}</td>
            {% endif %}

        {% if contractDetails.PerfBonusElg == 1 %}
            <td>{{ contractDetails.PerfBonusMet|format_currency }}</td>
            <td>{{ contractDetails.MaxPerfBonus|format_currency }}</td>
        {% endif %}
        </tr>

        {% if loop.last %}
            </table>
        {% endif %}

        {% endfor %}
        <br>
    {% endfor %}

{% endblock %}