{% extends "wrappers/wrapper.html" %}
{% block title %}{{ teamId }} Contracts{% endblock %}
{% block content %}
    <h2 class="text-center">{{ teamId|teamname }}</h2>
    <h3 class="text-center">Salary Forecast</h3>
    {% set unit=forwards %}
    {% set position="Forwards" %}
    {% include "cap/teamunit.html" %}
    {% set unit=defensemen %}
    {% set position="Defensemen" %}
    {% include "cap/teamunit.html" %}
    {% set unit=goalies %}
    {% set position="Goalies" %}
    {% include "cap/teamunit.html" %}
    {% set unit=its %}
    {% set position="In The System" %}
    {% include "cap/teamunit.html" %}
    

{% endblock %}