body {
    color: #222;
    font-family: Roboto, sans-serif;
}

.container {
    max-width: 1600px;
}

/*
*
* NAVBAR
*
*/

nav.navbar {
    border-radius: 0;
    border: none;
    margin-bottom: 24px;
    background: #222;
}

/* Banner links */
nav.navbar a.navbar-brand,
nav.navbar .navbar-right a,
nav.navbar a.dropdown-toggle,
nav.navbar a.navbar-brand:focus,
nav.navbar .navbar-right a:focus,
nav.navbar a.dropdown-toggle:focus  {
    color: #aaa;

    height: auto;
    font-size: 13px;
    line-height: 24px;
    padding: 3px 0px;
    padding-bottom: 0;
    border-bottom: 3px solid #222; /* Replace bottom padding with border - since height is auto, box-sizing: border-box won't help */

    margin: 21px 15px;
    font-weight: 500;
}

    nav.navbar .caret {
        font-weight: 400;
        color: #777;
    }

    nav.navbar a.navbar-brand:hover,
    nav.navbar .navbar-right a:hover,
    nav.navbar a.dropdown-toggle:hover,
    nav.navbar li.dropdown.open a.dropdown-toggle {
        color: #ccc;
        border-bottom: 3px solid #0050bb;
        background: none;
    }

    nav.navbar a.navbar-brand,
    nav.navbar a.navbar-brand:focus {
        text-transform: uppercase;
        font-weight: 900;
    }

nav.navbar a.navbar-brand.logo {
    /* total height (height + padding + margin) should equal the banner link heights */
    height: 40px;
    padding: 0px 15px;
    margin: 16px 10px;
    margin-right: 0;
    padding-right: 0;

    border: none;
    opacity: 0.7;
}
    nav.navbar a.navbar-brand.logo:hover {
        border: none;
        opacity: 0.8;
    }

/* Responsive navigation bar's toggle */
nav.navbar .navbar-toggle {
    /* total height (height + padding + margin) should equal the banner link heights */
    height: 40px;
    padding: 0px 15px;
    margin: 16px 15px;
    font-size: 13px;
    line-height: 24px;

    border: 1px solid #444;
    border-radius: 3px;
    background: none;
    color: #aaa;
    font-weight: 500;

}
    nav.navbar .navbar-toggle:focus,
    nav.navbar .navbar-toggle.collapsed:focus {
        background: none;
    }

@media (min-width: 768px) {
    nav.navbar a.navbar-brand.logo {
        padding-right: 15px;
        margin-right: 15px;
    }
}

/*
*
* DROPDOWNS: Used for main navigation and dropdown menus
*
*/

.dropdown-menu {
    border-color: #aaa;
}
    .dropdown-menu .divider {
        background-color: #ccc;
    }

.dropdown-menu>li>a {
    font-size: 13px;
    line-height: 30px;
    padding: 0 20px;
}

    .dropdown-menu>li>a:hover {
        background: #eef5ff;
    }

/*
*
* TEXT STYLES
*
*/

h1 {
    font-size: 30px;
    font-weight: 500;
    line-height: 48px;
    margin: 0;
}
h1 span.result {
    margin-right: 20px;
}

h1 span.time,
h1 span.date {
    font-size: 15px;
    line-height: 0;

    padding: 2px 5px;
    margin-right: 15px;

}

h1 span.date {
    background: none;
    margin-right: 0;
}

h2 {
    font-size: 25px;
    font-weight: 400;
    line-height: 36px;
    margin: 0;
}

h3 {
    font-size: 21px;
    font-weight: 400;
    line-height: 30px;
    margin: 0;
}

h4 {
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
}

p {
    font-size: 15px;
    line-height: 24px;
}

/*
*
* TABS
*
*/

.nav-tabs {
    box-sizing: border-box;
    border-bottom: 1px solid #005fdd;
    margin-bottom: 42px;
    vertical-align: bottom;
}
.nav-tabs li a {
    box-sizing: border-box;
    color: #0050bb;
    height: 60px;
    line-height: 60px;

    margin: 0;
    margin-right: 30px;
    padding: 0;

    border: none;
    border-radius: 0;
}

.nav-tabs li a:hover {
    background: none;
    border-bottom: 4px solid #005fdd;
}

.nav-tabs li a:focus {
    background: none;
}

.nav-tabs li.active a,
.nav-tabs li.active a:hover,
.nav-tabs li.active a:focus {
    border: none;
    border-bottom: 4px solid #005fdd;
    background: none;
    color: #0050bb;
}


/*
*
* INPUT ELEMENTS
*
*/

.dropdown .btn,
.dropdown .btn:focus,
.form-group input[type=text] {
    box-sizing: border-box;
    line-height: 36px;
    height: 36px;

    text-align: left;
    border: 1px solid #cce2ff;
    background: none;
    border-radius: 3px;
    padding: 0 10px;
    box-shadow: none;
}
.dropdown .btn,
.dropdown .btn:focus {
    /* Bump dropdown text up by 1px to align it with other input elements */
    /* Not sure why dropdowns needs this, though */
    line-height: 35px;
    padding-bottom: 11px;
}

.dropdown .btn:hover,
.dropdown .btn.active,
.form-group input[type=text]:hover {
    border: 1px solid #005fdd;
    background: none;
    box-shadow: none;
}

/* Remove background highlight from dropdown menu when it's open */
.open>.dropdown-toggle.btn-default:hover,
.open>.dropdown-toggle.btn-default:focus,
.form-group input[type=text]:focus  {
    background: none;
    border: 1px solid #005fdd;
    box-shadow: none;
}

a.btn,
a.btn:focus {
    border: none;
    background: #cce2ff;
    color: #222;

    height: 36px;
    line-height: 36px;
    padding: 0 20px;
}

a.btn:hover {
    background: #bbd8ff;
    color: #000;
}

a.btn-default:active:hover,
a.btn-default:active:focus {
    background: #aaceff;
    color: #000;
    box-shadow: none;
}

.form-control::-webkit-input-placeholder { color: #aaa; }
.form-control:-moz-placeholder { color: #aaa; }
.form-control::-moz-placeholder { color: #aaa; }
.form-control:-ms-input-placeholder { color: #aaa; }

/* Remove focus glow on buttons for Chrome OSX */
.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus,
.form-group input[type=text]:focus {
    outline: none;
}

label {
    font-size: 13px;

    height: 18px;
    line-height: 18px;

    margin: 3px 0;
    font-weight: 400;
    color: #aaa;
}

label.invisible {
    color: transparent;
}

.checkbox {
    display: table;
    height: 36px;
}

.checkbox label {
    display: table-cell;
    vertical-align: middle;
    line-height: 18px;
    font-size: 15px;
    color: #222;
}

/* For inputs like checkboxes and buttons that don't have a label above (like text fields and dropdowns do), replace the label with a margin */
.beside-fields {
    margin-top: 24px;
}



form button.btn,
form input {
    margin-bottom: 18px;
}

/*
*
* OTHER STUFF
*
*/

form.table-opts {
    margin-bottom: 42px;
}

.row.datatable {
    margin-bottom: 48px;
}

.header {
    width: 100%;
    height: 120px;
    text-align: center;
    position: relative;
    overflow: hidden;
    margin-bottom: 12px;
}

.header .header-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
}

.header .game-meta {
    height: 54px;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%); /* IE 9 */
    -webkit-transform: translateY(-50%); /* Chrome, Safari, Opera */
    transform: translateY(-50%);
    z-index: 10;
}

.header .game-meta h1 {
    display: inline-block;
    font-weight: 500;
    color: #111;
    text-shadow:
        -1px -1px 0 #fff,
        1px -1px 0 #fff,
        -1px 1px 0 #fff,
        1px 1px 0 #fff;
}

.header span {
    padding: 3px;
}

.header .game-meta h1.team {
    min-width: 180px;
    text-align: left;
}

.header .game-meta h1.team.away {
    text-align: right;
}

.header .game-meta h1.score {
    width: 30px;
    text-align: left;
}

.header .game-meta h1.score.home {
    text-align: right;
}

.header .game-meta img {
    display: inline-block;
    height: 42px;
    vertical-align: top;
    margin: 6px;
    /*background: white;*/
    /*outline: 3px solid white;*/
}

.header .game-meta .date {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;

    position: relative;
    top: 50%;
    top: calc(50% - 2px); /* Optical adjustment */
    -ms-transform: translateY(-50%); /* IE 9 */
    -webkit-transform: translateY(-50%); /* Chrome, Safari, Opera */
    transform: translateY(-50%);
}
.header .game-meta .date p {
    line-height: 18px;
    margin: 0;
    color: #111;
    text-shadow:
        -1px -1px 0 #fff,
        1px -1px 0 #fff,
        -1px 1px 0 #fff,
        1px 1px 0 #fff;

}


/*
*
* DATATABLES
*
*/

table.dataTable tbody tr:hover,
table.dataTable thead th:hover {
    background-color: #eef5ff;
}

.table>tbody>tr>td {
    font-size: 13px;
    line-height: 18px;
    border-bottom: 1px solid #eee;
    padding: 9px 10px
}

.table>thead>tr>th {
    font-size: 13px;
    line-height: 18px;
    border-bottom: 1px solid #005fdd;
    padding: 9px 10px;
    font-weight: 400;
    color: #0050bb;
}

.table>tbody>tr>td.right {
    text-align: right;
    font-family: 'Roboto Mono';
}

.table>thead>tr>th.right {
    text-align: right;
}

/* Update sorting icons */
table.dataTable thead .sorting:after {
    display: none;
}
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after {
    content: '↑';
    color: #0050bb;
    opacity: 1;
    margin-right: 10px;
    top: 8px;
}
table.dataTable thead .sorting_desc:after {
    content: '↓';
}

/* Update positioning of sorting icons */
table.dataTable thead>tr>th.sorting {
    padding-right: 10px;
}

table.dataTable thead>tr>th.right.sorting_asc,
table.dataTable thead>tr>th.right.sorting_desc {
    padding-right: 23px;
}

table.dataTable thead>tr>th.sorting_asc:after,
table.dataTable thead>tr>th.sorting_desc:after {
    right: 0;
}


.table>tbody>tr>td.cur {
    text-align: right;
    font-family: 'Roboto Mono';
}