{% extends "wrappers/wrapper.html" %}
{% block title %}Glossary{% endblock %}
{% block content %}
<div class="row">
	<div class="col-md-12">
		<h1>Glossary Information</h1>
        Should we put this in .json format and read out?<br>
        https://docs.google.com/document/d/1ZkZpLfhYa1wBxyogh9BHU_sdtTmbwuUcS222pxD2koA/edit<br>
        Thinking here --- It'd be nice to connect to the columns we display on each page and show description in a tooltip or something?
	</div>
</div>
{% endblock %}

{% block page_js %}

{% endblock %}