<div class="row division-name">
	{{ conference.replace('-', '∙') }}
</div>
{% for team, teamvar in rd.conferences[conference].iteritems()|sort(attribute=0) %}
<div class="row team">
<!-- 	<a href="/cap/team/{{ teamvar }}/">
		<img alt="{{ teamvar }} Logo" src="{{ url_for('static', filename='img/team/' + teamvar + '.png') }}" height="20" width="20"/>
	</a> -->
	<a href="/cap/team/{{ teamvar }}/"><img alt="{{ teamvar }} Logo" src="{{ url_for('static', filename='img/team/' + teamvar + '.png') }}" height="20" width="20"/>{{ team }}</a>
</div>
{% endfor %}