<div class="row">
	<div class="col-xs-11 col-xs-offset-1 conference">
		{{ conference }}
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<hr style="margin:0;" />
	</div>
</div>
{% for team, teamvar in rd.conferences[conference].iteritems()|sort(attribute=0) %}
<div class="row dropdown-link">
	<div class="col-xs-2 col-xs-offset-1">
		<a href="/cap/team/{{ teamvar }}/">
			<img alt="{{ teamvar }} Logo" src="{{ url_for('static', filename='img/team/' + teamvar + '.png') }}" height="20" width="20"/>
		</a>
	</div>
	<div class="col-xs-9">
		<a href="/cap/team/{{ teamvar }}/">{{ team }}</a>
	</div>
</div>
{% endfor %}