<div class="row">
	<div class="col-md-6 col-sm-12">
		{% with conference="Eastern - Atlantic" %}
		    {% include "wrappers/conference.html" %}
		{% endwith %}
	</div>
	<div class="col-md-6 col-sm-12">
		{% with conference="Eastern - Metropolitan" %}
		    {% include "wrappers/conference.html" %}
		{% endwith %}
	</div>
</div>
<div class="row">
	<div class="col-md-6 col-sm-12">
		{% with conference="Western - Central" %}
		    {% include "wrappers/conference.html" %}
		{% endwith %}
	</div>
	<div class="col-md-6 col-sm-12">
		{% with conference="Western - Pacific" %}
		    {% include "wrappers/conference.html" %}
		{% endwith %}
	</div>
</div>