<div class="row conference">
	<div class="division col-sm-6">
		{% with conference="East - Atlantic" %}
		    {% include "wrappers/conference.html" %}
		{% endwith %}
	</div>
	<div class="division col-sm-6">
		{% with conference="East - Metropolitan" %}
		    {% include "wrappers/conference.html" %}
		{% endwith %}
	</div>
</div>
<li role="separator" class="divider"></li>
<div class="row conference">
	<div class="division col-sm-6">
		{% with conference="West - Central" %}
		    {% include "wrappers/conference.html" %}
		{% endwith %}
	</div>
	<div class="division col-sm-6">
		{% with conference="West - Pacific" %}
		    {% include "wrappers/conference.html" %}
		{% endwith %}
	</div>
</div>