<div class="row conference">
	<div class="division col-md-6 col-sm-12">
		{% with conference="Atlantic - East" %}
		    {% include "wrappers/conference.html" %}
		{% endwith %}
	</div>
	<div class="division col-md-6 col-sm-12">
		{% with conference="Metropolitan - East" %}
		    {% include "wrappers/conference.html" %}
		{% endwith %}
	</div>
</div>
<li role="separator" class="divider"></li>
<div class="row conference">
	<div class="division col-md-6 col-sm-12">
		{% with conference="Central - West" %}
		    {% include "wrappers/conference.html" %}
		{% endwith %}
	</div>
	<div class="division col-md-6 col-sm-12">
		{% with conference="Pacific - West" %}
		    {% include "wrappers/conference.html" %}
		{% endwith %}
	</div>
</div>