<html>
<head>
    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="WAR-On-Ice">
    <!-- title -->
    <title>{% block title %}{% endblock %} | WAR-On-Ice</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/logo-black-40.png') }}" />
    <!-- CSS -->
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='DataTables/css/dataTables.bootstrap.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='DataTables/css/fixedColumns.bootstrap.min.css') }}"/>
    <link href="{{ url_for('static', filename='css/woi.css') }}" rel="stylesheet">
	<script src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Mono:400' rel='stylesheet' type='text/css'>
    {% block page_css %}{% endblock %}
    <!-- Load jquery in head, in case included pages need it before they load -->
    <script src="{{ url_for('static', filename='jquery/jquery.min.js') }}"></script>
</head>
<body data-spy="scroll" data-target=".navbar-fixed-top">
<!-- Navigation -->
{% include "wrappers/navigation.html" %}

<div class="container">

	<!-- Top banner ads -->
	<div class="row advert">
		<div class="col-md-12">
		{% include "wrappers/topads.html" %}
		</div>
	</div>

	<!-- Full width content -->
	<div class="row">
		{% block content_header %}{% endblock %}
	</div>

	<!-- Content with ad side bar -->
	<div class="row">
		<div class="col-md-10">
			{% block content %}{% endblock %}
		</div>
		<div class="col-md-2">
			{% include "wrappers/sideads.html" %}
		</div>
	</div>

	<!-- Footer ads -->
	<div class="row advert">
		<div class="col-md-12">
		{% include "wrappers/topads.html" %}
		</div>
	</div>
</div>

<!-- JavaScript -->
<script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='DataTables/js/jquery.dataTables.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='DataTables/js/dataTables.bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='DataTables/js/dataTables.fixedColumns.min.js') }}"></script>
{% block page_js %}{% endblock %}
</body>
</html>